<ul class="navlinks">
    {{#foreach navigation}}
    <li class="navlink navlink-{{slug}}{{#if current}} navlink-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <li class="navlink navlink-twitter"><a href="https://twitter.com/_johlym" rel="me">@johlym</a></li>
    <li class="navlink navlink-github"><a href="https://github.com/johlym" rel="me">GitHub</a></li>
</ul>