<div class="page-turn">
    <div class="turn-back">
        {{#if prev}}
        <a href="{{page_url prev}}">&lsaquo; Previous</a>
        {{/if}}
    </div>
    <div class="turn-forward">
        {{#if next}}
        <a href="{{page_url next}}">Next &rsaquo;</a>
        {{/if}}
    </div>
</div>